$bacground-color: #151A20;
$text-color: #FFFFFF;
$accent-color-main: #FFC30D;
$accent-color-grad1: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
$accent-color-grad2: linear-gradient(239.74deg, rgba(30, 36, 44, 0.1) 0%, rgba(135, 67, 255, 0.1) 100%);
$nav-menu-bacground: #1E242C;

$heder-hight: 115px;



.App {
  min-height: 100vh;
  background-color: $bacground-color;
  color: $text-color;
  text-align: center;
  display: flex;
  flex-direction: column;

  header {
    height: $heder-hight;
    width: 100%;
    position: absolute;
    top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .logoPlace {

      a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .header-logo {
          font-size: 30px;
          color: $accent-color-main;
        }

        .header-site-name {
          margin-left: 8px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 14px;
        }
      }

    }

    .loginPlace {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }


  }

  .nav-menu {
    position: absolute;
    width: 54px;
    left: 0px;
    top: $heder-hight;

    background: $nav-menu-bacground;
    box-shadow: 9px 4px 18px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding-block: 40px;

    a {
      margin-block: 15px;

      .moviesLogo {
        stroke: $text-color;
      }

      .moviesLogo:hover {
        stroke: $accent-color-main;
      }

      .favoritesLogo {
        fill: $text-color;
      }

      .favoritesLogo:hover {
        fill: $accent-color-main;
      }
    }


  }

  .mainPage {
    .new {
      display: flex;
      flex-direction: column;

      h2 {
        width: 100%;
        text-align: start;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 14px;
      }

      .new-container {
        width: 100%;
        margin-top: 46px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .newMovieStyle {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: flex-end;
          background: linear-gradient(180deg, rgba(21, 26, 32, 0) 0%, rgba(21, 26, 32, 0.99) 100%);


          .newMovie-year {
            width: 68px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
            border-radius: 0px 10px 10px 0px;

            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
          }

          .newMovie-title {
            margin-left: 3.45%;
            margin-right: 14.34%;


            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 25px;
          }

          .newMovie-rating-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;


            .newMovie-rating {
              padding-left: 3.45%;

              font-family: 'Bebas Neue';
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 20px;
              display: flex;
              align-items: center;
            }

            .newMovie-rating-button {
              background: $accent-color-main;
              border-radius: 10px 0px;

              padding-inline: 19px;
              padding-block: 8px;

              font-family: 'Bebas Neue';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 14px;
            }
          }


        }

        .main-left-container {
          width: 50%;
          height: 618px;

          .newMovie-container-1 {
            height: 100%;
            width: 100%;
            border-radius: 10px;

            .newMovie-year {
              width: 169px;
              height: 37px;
              font-size: 24px;
            }

            .newMovie-title {
              font-size: 48px;
              line-height: 48px;
            }

            .newMovie-shortDescription {
              margin-left: 3.45%;
              margin-right: 14.34%;

              text-align: start;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 21px;
            }

            .newMovie-rating-container {

              .newMovie-rating {
                font-size: 24px;
                line-height: 24px;
              }

              .newMovie-rating-button {
                font-size: 36px;
                line-height: 36px;
                padding-inline: 37px;
                padding-block: 16px;
              }
            }
          }
        }

        .additional-right-container {
          width: calc(50% - 20px);
          margin-left: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .newMovie-container-2 {
            height: 50%;
            width: calc(50% - 10px);
            margin-right: 20px;
            border-radius: 10px;

          }

          .newMovie-container-3 {
            height: 50%;
            width: calc(50% - 10px);
            border-radius: 10px;
          }

          .newMovie-container-4 {
            height: calc(50% - 20px);
            width: 100%;
            margin-top: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;

            .newMovie-title {
              padding-left: 3.45%;

              font-family: 'Bebas Neue';
              font-style: normal;
              font-weight: 400;
              font-size: 48px;
              line-height: 48px;
            }

            .newMovie-rating-button {
              padding-inline: 38px;
              padding-block: 16px;
              background: #FFC30D;
              border-radius: 10px 0px;

              font-family: 'Bebas Neue';
              font-style: normal;
              font-weight: 400;
              font-size: 21px;
              line-height: 21px;
            }
          }

        }




      }

      a:hover {
        color: $nav-menu-bacground;
      }
    }

    .moviesOnly {
      width: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      padding-left: 135px;

      margin-bottom: 30px;


      .movies-only-container {
        width: 100%;
        margin-top: 18px;

        .center {
          margin-top: 30px;

          a {

            img {
              height: auto;
              width: 200px;
              flex-shrink: 0;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
    }

  }

  .moviesPage {
    width: 100%;

    h1 {

      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      outline: none;
    }

    .filterContainer {
      width: 100%;
      margin-block: 30px;
      padding: 30px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .inputOfSearch {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid $accent-color-main;
        padding: 10px;
        background-color: $bacground-color;
        color: $text-color;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        outline: none;
      }

      .switchesContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .movieTypeContainer {
          width: 50%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          /* для элемента input c type="radio" */
          .custom-radio>input {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          /* для элемента label связанного с .custom-radio */
          .custom-radio>span {
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-size: 15px;
          }

          /* создание в label псевдоэлемента  before со следующими стилями */
          .custom-radio>span::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid $accent-color-main;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
          }

          /* стили при наведении курсора на радио */
          // .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
          //   border-color: $text-color;
          // }

          /* стили для активной радиокнопки (при нажатии на неё) */
          .custom-radio>input:not(:disabled):active+span::before {
            background-color: $nav-menu-bacground;
            border-color: $accent-color-main;
          }

          /* стили для радиокнопки, находящейся в фокусе */
          .custom-radio>input:focus+span::before {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          }

          /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
          .custom-radio>input:focus:not(:checked)+span::before {
            border-color: $accent-color-main;
          }

          /* стили для радиокнопки, находящейся в состоянии checked */
          .custom-radio>input:checked+span::before {
            border-color: $accent-color-main;
            background-color: $accent-color-main;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          }
        }
      }



      .filterButton {
        width: 30%;
        background: $accent-color-main;
        border-radius: 10px 0px;

        padding-inline: 30px;
        padding-block: 20px;

        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 14px;
      }

      .filterButton:hover {
        color: $nav-menu-bacground;
      }
    }

    .moviesListContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      .movieCardContainer {
        width: 280px;
        height: 500px;
        margin: 5px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        a {
          margin: 5px;

          img {

            border-radius: 10px;
            height: 400px;
            width: 250px;
            flex-shrink: 0;
            object-fit: cover;
          }
        }

        h2 {
          width: 100%;
          text-align: center;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          // line-height: 14px;
        }
      }
    }
  }

  .movieSample {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    background-position: center center;
    background-repeat: no-repeat;

    background-size: cover;

    .movieSampleLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: end;

      padding-bottom: 150px;

      .movieType {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;

        h3 {
          margin-right: 30px;

          font-family: 'Bebas Neue';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 65px;
        }
      }

      h1 {
        text-align: start;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 65px;
        padding-bottom: 30px;
      }

      .movieDescription {
        text-align: start;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 30px;
      }

      .movieRatingContainer {
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;

        div {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 24px;

          margin-right: 20px;

          span {
            color: $accent-color-main;
          }
        }

      }

      .userFavorites {
        width: 50%;
        background: $accent-color-main;
        border-radius: 10px 0px;

        padding-inline: 20px;
        padding-block: 20px;

        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 14px;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .userFavorites:hover {
        color: $nav-menu-bacground;
      }


    }

    .movieSampleRight {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 50%;
      padding-bottom: 150px;

      img {
        width: 255px;
        height: auto;
        border-radius: 30px;

      }
    }

    .moviePlayerContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: 100%;


      .moviePlayer {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }

  .notFound {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      width: 100%;
      text-align: center;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 14px;
      padding: 30px;
      margin-bottom: 10px;
    }

    a {
      width: 100%;
      padding: 30px;
    }

    span {
      width: 100%;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 14px;
      margin-bottom: 10px;
    }
  }

  .favoritesPage {

    h1 {}

    .favoritesContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;

      .movieCardContainer {
        width: 280px;
        height: 500px;
        margin: 5px;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        a {
          margin: 5px;

          img {

            border-radius: 10px;
            height: 400px;
            width: 250px;
            flex-shrink: 0;
            object-fit: cover;
          }
        }

        h2 {
          width: 100%;
          text-align: center;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          // line-height: 14px;
        }
      }

    }
  }



  footer {

    height: calc($heder-hight + 10px);
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: $nav-menu-bacground;
    margin-top: 50px;

    .logoPlace {

      a {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .footer-logo {
          font-size: 30px;
          color: $accent-color-main;
        }

        .footer-site-name {
          margin-left: 8px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 14px;
        }
      }

    }

    .copirightPlace {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */

        display: flex;
        align-items: center;

        color: #8E8E8E;
      }
    }

    .linksPlace {
      display: flex;

      span {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 14px;
        /* identical to box height, or 78% */

        margin-right: 30px;

        display: flex;
        align-items: center;
      }
    }


  }

}

//Стили для всех

.column {
  padding-inline: 135px;
}

.first-block {
  margin-top: calc(($heder-hight*2) - 11px);
  margin-bottom: 30px;
}

.button {
  cursor: pointer;
}

/* unvisited link */
a:link {
  color: $text-color;
  text-decoration: none;
  outline: none;
}

/* visited link */
a:visited {
  color: $text-color;
}

/* mouse over link */
a:hover {
  color: $accent-color-main;
}

/* selected link */
a:active {
  color: $accent-color-main;
}